@model User
@{
    ViewData["Title"] = "Hesabım";
}

<h1>Hesabım</h1>

<div class="col-12 text-break">
    @Context.Session.GetString("userToken")
</div>

<h5>
    @Context.Session.GetString("refreshToken")
</h5>

<div id="kullanici">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var token = localStorage.getItem("token");
        var refreshToken = sessionStorage.refreshToken;
        var userExpiration = sessionStorage["userExpiration"];
        if (token && refreshToken) {
            console.log(token)
            console.warn(refreshToken)
            console.log(userExpiration)

            $.ajax({
                method: 'GET',
                url: "http://localhost:5194/api/Auth/GetUserByUserGuid/" + refreshToken,
                // type: "json",
                headers: { 'Content-Type': 'application/json', "Authorization": "Bearer " + token },
                // data: JSON.stringify(product),
                success: function (item) {
                    //gelen sonuc
                    console.log(item);
                    document.getElementById('Id').value = item.id;
                    document.getElementById('UserName').value = item.userName;
                    document.getElementById('Password').value = item.password;
                    document.getElementById('Name').value = item.name;
                    document.getElementById('Surname').value = item.surname;
                    document.getElementById('Email').value = item.email;
                    document.getElementById('IsActive').value = item.isActive;
                    document.getElementById('IsAdmin').value = item.isAdmin;
                },
                error: function (err) {
                    console.log("Hata Oluştu!", err);
                }
            })
        }
        
        // document.getElementById("btnGuncelle").removeAttribute("disabled")
    </script>
}